DateTime==4.0.1
Flask==0.10.1
Flask-Login==0.2.7
Flask-OpenID==1.1.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.7.9
Tempita==0.5.1
Werkzeug==0.9.4
decorator==3.4.0
gunicorn==18.0
itsdangerous==0.23
python-openid==2.2.5
pytz==2013.7
requests==2.0.1
sqlalchemy-migrate==0.7.2
zope.interface==4.0.5
psycopg2==2.5