{% extends "layout.html" %}
{% block content %}

<h3>Admin Panel</h3>

<fieldset>
<legend> Applications </legend>
	
	<div class="row">
		<div class="small-12 columns">
		<a href="{{url_for('make_application_step1')}}" class="small button"> <i class="fa fa-plus"></i> Add an Application</a>
		</div>
	</div>
	  <table width=100%>
	    <thead>
	        <tr>
	          <th>ID</th>
	          <th>USER</th>
	          <th>TIMESTAMP</th>
	          <th>BORROW ON</th>
	          <th>RETURN ON</th>
	          <th>APPROVED BY</th>
	          <th>ITEMS</th>
	          <th>ACTIONS</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for application in all_applications %}
	        <tr>
	            <td><a href="/application/{{application.id}}" >{{application.id}}</a></td>
	            <td><a href="/user/{{application.uid}}" >{{application.uid}}</a></td>
	            <td>{{application.displayTimestamp()}}</td>
	            <td>{{application.borrow_time.date()}}</td>
	            <td>{{application.return_time.date()}}</td>
	            {% if application.isApproved() == True %}
	            <td>{{application.approval.approver.name}}</td>
	            {% else %}
	            <td>None</td>
	            {% endif %}

	            <td>{% for i in application.getItems() %}
	            	{{ i.equipment.name }}, 
	            	{% endfor %}

	            </td>
	            <td>
	            	{% if application.isApproved() == True %}
	<a href="/application/{{application.id}}/disapprove" ><i class="fa fa-undo fa-fw"></i></a>
	{% else %}
	<a href="/application/{{application.id}}/approve"><i class="fa fa-check fa-fw"></i></a>
	{% endif %}
	<a href="/application/{{application.id}}/edit" ><i class="fa fa-pencil-square-o fa-fw"></i></a>
	<a href="/application/{{application.id}}/delete" ><i class="fa fa-trash-o fa-fw"></i></a>

	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</fieldset>

<fieldset>
<legend> Items </legend>
	<fieldset>
	<legend>Add an Item</legend>
			<form class="custom" action="{{ url_for('add_item')}}" method="POST" id="itemForm">
			<div class="row">
		      <div class="large-4 columns">
		        <label>Name</label>
		        <input name="name" id="name" type="text" placeholder="SM57">
		      </div>
		      <div class="large-3 columns">
		        <label for="category">Category</label>
			      <select name="category" id="category" class="medium">
			        <option value="0">General</option>
			        <option value="1">Guitar</option>
			        <option value="2">Keyboard</option>
			        <option value="3">Bass</option>
			        <option value="4">Stand</option>
			        <option value="5">Cable</option>
			        <option value="6">Console</option>
			        <option value="7">Mixer</option>
			        <option value="8">Mic</option>
			        <option value="9">Amp</option>
			        </select>
		      </div>
		      <div class="large-3 columns">
		        <label>Purchased Date</label>
		        <input type="text" value="" id="purchase_date" name = "purchase_date" placeholder="01/01/2014"/>
		      </div>
		      <div class="large-2 columns">
		      <label><br></label>
		      <input class="small button" type="submit" value="Add"/>
		      </div>	      
		    </div>
			</form>
		</fieldset>

	  <table width=100%>
	    <thead>
	        <tr>
	          <th>ID</th>
	          <th>EQUIPMENT</th>
	          <th>CATEGORY</th>
	          <th>PURCHASED DATE</th>
	          <th>STATUS</th>
	          <th>ACTIONS</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for item in all_items %}
	    {%set iid = item.id%} 
	        <tr>
	            <td id="{{iid}}_id">{{item.id}}</td>
	            <td id="{{iid}}_name">{{item.equipment.name}}</td>
	            <td id="{{iid}}_category">{{item.equipment.printCategory()}}</td>
	            <td id="{{iid}}_purchase_date">{{item.purchase_date.date()}}</td>
	            <td>
	            	{% if item.status == 0 %}
	            	<a href="#" data-dropdown="{{iid}}_status" class="tiny secondary button dropdown" style="width:11em; text-align:left; margin-bottom:0px"><i class="fa fa-circle fa-fw"></i> {{item.printStatus()}} </a><br>
	            	{% elif item.status == 1 %}
	            	<a href="#" data-dropdown="{{iid}}_status" class="tiny secondary button dropdown" style="width:11em; text-align:left;margin-bottom:0px"><i class="fa fa-circle-o fa-fw"></i> {{item.printStatus()}} </a><br>
	            	{% else %}
	            	<a href="#" data-dropdown="{{iid}}_status" class="tiny secondary button dropdown" style="width:11em; text-align:left; margin-bottom:0px"><i class="fa fa-minus-circle fa-fw"></i> {{item.printStatus()}} </a><br>
	            	{% endif %}
					<ul id="{{iid}}_status" class="f-dropdown">
					  <li><a href="{{url_for('item_status', id=iid, status=0)}}"><i class="fa fa-circle fa-fw"></i>  Available</a></li>
					  <li><a href="{{url_for('item_status', id=iid, status=1)}}"><i class="fa fa-circle-o fa-fw"></i> Borrowed</a></li>
					  <li><a href="{{url_for('item_status', id=iid, status=2)}}"><i class="fa fa-minus-circle fa-fw"></i> Not Available</a></li>
					</ul>
	            </td>

	            <td>
	            <a href="#" data-reveal-id="{{item.id}}_edit" ><i class="fa fa-pencil-square-o fa-fw"></i></a>
	            <a href="/item/{{item.id}}/delete"><i class="fa fa-trash-o fa-fw"></i></a>
	            <div id="{{item.id}}_edit" class="reveal-modal">
	        <form class="custom" action="/item/{{item.id}}/edit" method="POST" id="itemEditForm">
  <h2>Edit Item</h2>
			
				<div class="row">
			      <div class="large-4 columns">
			        <label>Name</label>
			        <input name="name_edit" id="name_edit" type="text" value="{{item.equipment.name}}">
			      </div>
			      <div class="large-3 columns">
			        <label for="category_edit">Category</label>
				      <select name="category_edit" id="category_edit" class="medium">
				      {% for cat in category_name %}
				      {% if item.equipment.printCategory() == cat %}
				      <option selected="selected" value= "{{ category[cat.lower()] }}" >{{ cat }}</option>
				      {% else %}
				        <option value= "{{ category[cat.lower()] }}" >{{ cat }}</option>
				       {% endif %}
				       {% endfor %}
				        </select>
			      </div>
			      <div class="large-3 columns">
			        <label>Purchased Date</label>
			        <input type="text" value="{{item.purchase_date.strftime('%d/%m/%Y')}}" id="purchase_date_edit" name = "purchase_date_edit" placeholder="01/01/2014"/>
			      </div>
			      <div class="large-2 columns">
			      <label><br></label>
			      <input class="small button" type="submit" value="Edit"/>
			      </div>	      
			    </div>
			</form>
		</div>
	            </td>
	        </tr>




	    {% endfor %}
	    </tbody>
	</table>
</fieldset>


<fieldset>
<legend> Users </legend>

	  <table width=100%>
	    <thead>
	        <tr>
	          <th>ID</th>
	          <th>NAME</th>
	          <th>EMAIL</th>
	          <th>ROLE</th>
	          <th>WORK EMAIL</th>
	          <th>APPLICATIONS</th>
	          <th>ACTIONS</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for user in all_users %}
	        <tr>
	            <td><a href="/user/{{user.id}}" >{{user.id}}</a></td>
	            <td>{{user.name}}</td>
	            <td>{{user.email}}</td>
	            {% if user.type == 'admin' %}
	            <td>Admin</td>
	            <td>{{user.work_email}}</td>
	            {% else %}
	            <td>User</td>
	            <td>None</td>
	            {% endif %}

	            <td>{% for a in user.application %}
	            	<a href="/application/{{a.id}}" >{{ a.id }}</a>, 
	            	{% endfor %}

	            </td>
	            <td>
	            	
	<a href="/user/{{user.id}}/delete" ><i class="fa fa-trash-o fa-fw"></i></a>





	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</fieldset>

<script>
$('#purchase_date').fdatepicker({
					format: 'dd/mm/yyyy'
				});

$('#purchase_date_edit').fdatepicker({
					format: 'dd/mm/yyyy'
				});

</script>

{% endblock %}