{% extends "layout.html" %}
{% block content %}

<h3>Make an Application</h3>
<h1 class="subheader" style="text-align:right">
				<span data-tooltip class="has-tip" title="Add an Application"><a href="{{url_for('make_application_step1')}}"> <i class="fa fa-plus fa-fw"></i></a></span>
				{% if g.user.isAdmin() %}
			<span data-tooltip class="has-tip" title="Admin Panel"><a href="{{url_for('admin')}}"> <i class="fa fa-tachometer fa-fw"></i></a></span>
			{% endif %}
			<span data-tooltip class="has-tip" title="My Profile"><a href="/user/{{g.user.id}}"> <i class="fa fa fa-user fa-fw"></i></a></span>

			<span data-tooltip class="has-tip" title="Sign out"><a href="{{url_for('logout')}}"> <i class="fa fa fa-sign-out fa-fw"></i></a></span>
					</h1>
<h5 class="subheader">Step 2 out of 3</h5><div class="progress small-4"><span class="meter" style="width:50%"></span></div>

<fieldset>
<legend>Available Items</legend>

<input type="text" id="search" placeholder="Type to search">
<form class="custom" action="{{ url_for('make_application_step3')}}" method="POST" id="itemForm" onsubmit="return(validateForm())">

{% for category in available_items.items() %}
<div class="row">
<div class="small-3 columns">
	<h4>{{category[0]}}</h4>
</div>
<div class="small-9 columns">
	
	
	{% for equipment in category[1].items() %}
	<div class="row">
	<div class="small-3 columns">
		<label for="{{equipment[0]}}" name="{{equipment[0]}}" class="right inline">{{equipment[0]}}</label>
	</div>
	<div class="small-3 columns">
		<select id="{{equipment[0]}}" name="{{equipment[0]}}" class="medium">

			{% for choose in range(0, equipment[1]|count + 1) %}

				<option value = "{{equipment[1][:choose]}}">{{choose}}</option>
				
			{% endfor %}
		</select>
		</div>
	</div>
	{% endfor %}
</div>
</div>
{% endfor %}
<div class="row">
<div class="small-2 columns">
<input class="small button" type="submit" value="Select"/>
</div>
</div>
</form>

<script>
var $rows = $('form .row div .row');
$('#search').keyup(function () {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.show().filter(function () {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

function validateForm()
{

var selects = document.querySelectorAll(".current");

	for (var i=0; i<selects.length; i++){
		if (selects[i].text > 0){
	   	 	return true;
	    }
	}
	alert("Please select at least one item！")
	
return false;
}
</script>

</fieldset>

{% endblock %}

