{% extends "layout.html" %}
{% block content %}

<h3>Make an Application</h3>
<h1 class="subheader" style="text-align:right">
				<span data-tooltip class="has-tip" title="Add an Application"><a href="{{url_for('make_application_step1')}}"> <i class="fa fa-plus fa-fw"></i></a></span>
				{% if g.user.isAdmin() %}
			<span data-tooltip class="has-tip" title="Admin Panel"><a href="{{url_for('admin')}}"> <i class="fa fa-tachometer fa-fw"></i></a></span>
			{% endif %}
			<span data-tooltip class="has-tip" title="My Profile"><a href="/user/{{g.user.id}}"> <i class="fa fa fa-user fa-fw"></i></a></span>

			<span data-tooltip class="has-tip" title="Sign out"><a href="{{url_for('logout')}}"> <i class="fa fa fa-sign-out fa-fw"></i></a></span>
					</h1>
<h5 class="subheader">Step 3 out of 3</h5><div class="progress small-4"><span class="meter" style="width:90%"></span></div>



<fieldset>
<legend>Confirm your Application</legend>

<div class="row">
<div class="small-5 columns">

<ul class="no-bullet">
<li><ul class="inline-list"><li>User:</li><li>{{ user_name }}</li></ul></li>
<li><ul class="inline-list"><li>Borrow Date:</li><li>{{ application['borrow_time'].date() }}</li></ul></li>
<li><ul class="inline-list"><li>Return Date:</li><li>{{ application['return_time'].date() }}</li></ul></li>


<li>Items:
	<ul>
	{% for i in items.items() %}
	<li>{{ i[0] }} × {{i[1]}}</li>
	{% endfor %}
	</ul>
	</li>
</ul>

</div>



</div>

<div class="row">
<div class="small-5 columns">
	<a href="{{url_for('make_application')}}" class="small button">Confirm</a>
</div>
</div>

</fieldset>

{% endblock %}
