{% extends "layout.html" %}
{% block content %}

<h3>Edit your application</h3>



<fieldset>
<legend>Available Items</legend>


<form class="custom" action="{{ url_for('edit_application_process',id=id) }}" method="POST" id="itemForm">

{% for category in available_items.items() %}
<div class="row">
<div class="small-3 columns">
	<h4>{{category[0]}}</h4>
</div>
<div class="small-9 columns">
	
	
	{% for equipment in category[1].items() %}
	<div class="row">
	<div class="small-3 columns">
	{% set default = default_select[category[0]][equipment[0]] %}
	<label for="{{equipment[0]}}" name="{{equipment[0]}}" class="right inline">{{equipment[0]}}</label>
	</div>
	<div class="small-3 columns">
		<select id="{{equipment[0]}}" name="{{equipment[0]}}" class="medium">

			{% for choose in range(0, equipment[1]|count + 1) %}

			{% if choose == default %}

				<option value = "{{equipment[1][:choose]}}" selected>{{choose}}</option>

			{% else %}

				<option value = "{{equipment[1][:choose]}}">{{choose}}</option>

			{% endif %}
				
			{% endfor %}
			
		</select>
		</div>
	</div>
	{% endfor %}
</div>
</div>
{% endfor %}
<div class="row">
<div class="small-2 columns">
<input class="small button" type="submit" value="Select"/>
</div>
</div>
</form>
</fieldset>

{% endblock %}

