{% extends "layout.html" %}
{% block content %}

<div class="row">
<div class="small-12 columns">
	
		
		<h3>Hello, {{g.user.name}}!</h3>
		<h1 class="subheader" style="text-align:right">
				<span data-tooltip class="has-tip" title="Add an Application"><a href="{{url_for('make_application_step1')}}"> <i class="fa fa-plus fa-fw"></i></a></span>
				{% if g.user.isAdmin() %}
			<span data-tooltip class="has-tip" title="Admin Panel"><a href="{{url_for('admin')}}"> <i class="fa fa-tachometer fa-fw"></i></a></span>
			{% endif %}
			<span data-tooltip class="has-tip" title="My Profile"><a href="/user/{{g.user.id}}"> <i class="fa fa fa-user fa-fw"></i></a></span>

			<span data-tooltip class="has-tip" title="Sign out"><a href="{{url_for('logout')}}"> <i class="fa fa fa-sign-out fa-fw"></i></a></span>
					</h1>
	
	
</div>

</div>
<div class="row">
<div class="small-6 columns">
	<fieldset id="pending">
	
	<legend><i class="fa fa-minus-circle fa-fw"></i>Pending</legend>
	<input type="text" id="search_pending" placeholder="Type to search">
	  <div class="row">
	<div class="small-1 columns">
	<h6 class="subheader">ID</h6>
	<br>
	</div>
	<div class="small-3 columns">
	<h6 class="subheader">Timestamp</h6><br>
	</div>
	<div class="small-6 columns">
	<h6 class="subheader">Items</h6><br>
	</div>
	<div class="small-2 columns">
	<h6 class="subheader">Actions</h6><br>
	</div>
	</div>
<div id="result_pending">
	 
	    {% for application in pending_application %}
	        <div class="row">
	        <div class="small-1 columns"><a href="/application/{{application.id}}" ><p>{{application.id}}</p></a></div>
	        <div class="small-3 columns">
	            <p>{{application.displayDatestamp()}}</p>
	        </div>
	        <div class="small-6 columns">
	        <p class="item-list">
	        {% for i in application.getItems() %}
	            	{{ i.equipment.name }}, 
	            	{% endfor %}
	            	</p>
	        </div>
	        <div class="small-2 columns">
	        <a href="/application/{{application.id}}/edit" ><i class="fa fa-pencil-square-o"></i></a>
	        <a href="/application/{{application.id}}/delete" ><i class="fa fa-trash-o fa-fw"></i></a>
	        </div>
	        </div>
	    {% endfor %}
</div>

</fieldset>
</div>
<div class="small-6 columns">
<fieldset id="approved">
	<legend><i class="fa fa-check-circle fa-fw"></i>Approved</legend>
	<input type="text" id="search_approved" placeholder="Type to search">
	  <div class="row">
	<div class="small-1 columns">
	<h6 class="subheader">ID</h6>
	<br>
	</div>
	<div class="small-3 columns">
	<h6 class="subheader">Timestamp</h6><br>
	</div>
	<div class="small-6 columns">
	<h6 class="subheader">Items</h6><br>
	</div>
	<div class="small-2 columns">
	<h6 class="subheader">Actions</h6><br>
	</div>
	</div>
	<div id="result_approved">
	 
	    {% for application in approved_application %}
	        <div class="row">
	        <div class="small-1 columns"><a href="/application/{{application.id}}" ><p>{{application.id}}</p></a></div>
	        <div class="small-3 columns">
	            <p>{{application.displayDatestamp()}}</p>
	        </div>
	        <div class="small-6 columns">
	        <p class="item-list">
	        {% for i in application.getItems() %}
	            	{{ i.equipment.name }}, 
	            	{% endfor %}
	            	</p>
	        </div>
	        <div class="small-2 columns">
	        <a href="/application/{{application.id}}/delete" ><p><i class="fa fa-trash-o fa-fw"></i></p></a>
	        </div>
	        </div>
	    {% endfor %}
	    </div>
</fieldset>
</div>
</div>
</div>

<script>
var $rows_pending = $('#pending #result_pending .row');
$('#search_pending').keyup(function () {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows_pending.show().filter(function () {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});


var $rows_approved = $('#approved #result_approved .row');
$('#search_approved').keyup(function () {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows_approved.show().filter(function () {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});


</script>

{% endblock %}