<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>Foundation 4</title>
	<link rel="stylesheet" href="../static/css/foundation.css">
	<script src="../static/js/vendor/jquery.js"></script>
	<script src="../static/js/vendor/custom.modernizr.js"></script>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/example.css">
	<script src="../static/js/foundation-datepicker.js"></script>
	<link rel="stylesheet" href="../static/css/foundation-datepicker.css">
	<link rel="stylesheet" href="../static/css/foundation.min.css">
	<link rel="stylesheet" href="../static/css/app.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		<body>
	<script>
	document.write('<script src=../static/' +
	('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
	'.js><\/script>')
	</script>
	<script src="../static/js/foundation.min.js"></script>
			<div class="container">
				<header class="row">
					<div class="small-12 columns">
						<h1><a href="{{url_for('index')}}">Equipment Loan System</a></h1>
						<h2 class="subheader">designed for the Abbey</h2>
					</div>

				</header>
				<div class="row">
					<div class="small-12 columns">
					
						
				        {% block content %}
        				{% endblock %}
        				
					
					</div>

					
				</div>
        				</div>
<script>
$(document).foundation();
</script>
        				</body>

		</html>