{% extends "layout.html" %}

{% block content %}
  <h2>Sign in</h2>
  <div class="panel" style="text-align:center">
<br>
  

  <div class="row">
   
   <div class="small-3 small-centered columns " >

<form action="" method=post>

      
      <input type=hidden id="right-label" type=text name=openid value="http://openid.nus.edu.sg" size=30>
      <input type=submit class="large button" value="NUSNET">
      <input type=hidden name=next value="{{ next }}">
  </form>
  </div>
<div class="small-3 small-centered columns center">
  <form action="" method=post>

      <input type=hidden id="right-label" type=text name=openid value="https://www.google.com/accounts/o8/id" size=30>
      <input type=submit class="large button" value="Google">
      <input type=hidden name=next value="{{ next }}">
      </form>


</div>
</div>

<div class="row">
<div class="small-12 columns">
<h6><small>OpenID:</small></h6>

<small><ul class="no-bullet">
<li>NUSNETID: http://openid.nus.edu.sg</li>
<li>Google: https://www.google.com/accounts/o8/id</li>
</ul>
</small>

</div>

</div>

  </div>
  
{% endblock %}