{% extends "layout.html" %}
{% block content %}

<fieldset>
<legend>Available Items</legend>
<form class="custom" action="{{ url_for('make_application')}}" method="POST" id="itemForm">
<div class="row">
<div class="small-4 columns">
{% for item in available_items %}

<label for="{{ item.id }}"><input type="checkbox" id="{{ item.id }}" style="display: none;" value = "{{item.id}}" name='selected_items'/><span class="custom checkbox"></span> {{ item.name }}</label>

{% endfor %}
</div>
</div>
<div class="row">
<div class="small-2 columns">
<input class="tiny button" type="submit" value="Check"/>
</div>
</div>
</form>
</fieldset>

{% endblock %}

