{% extends "layout.html" %}
{% block content %}

<fieldset>
<legend>Confirmation</legend>
<div class="row">
<div class="small-5 columns">

<ul class="no-bullet">
<li><ul class="inline-list"><li>Application ID:</li><li>{{ application.id }}</li></ul></li>
<li><ul class="inline-list"><li>User ID:</li><li>{{ application.uid }}</li></ul></li>
<li><ul class="inline-list"><li>Borrow Date:</li><li>{{ application.borrow_time }}</li></ul></li>
<li><ul class="inline-list"><li>Return Date:</li><li>{{ application.return_time }}</li></ul></li>

<li>Items:
	<ul>
	{% for i in items %}
	<li>{{ i.name}}</li>
	{% endfor %}
	</ul>
	</li>
</ul>

</div>
</div>
</fieldset>

{% endblock %}

