{% extends "layout.html" %}
{% block content %}

<h3>{{user.name}}</h3>
<h1 class="subheader" style="text-align:right">
				<span data-tooltip class="has-tip" title="Add an Application"><a href="{{url_for('make_application_step1')}}"> <i class="fa fa-plus fa-fw"></i></a></span>
				{% if g.user.isAdmin() %}
			<span data-tooltip class="has-tip" title="Admin Panel"><a href="{{url_for('admin')}}"> <i class="fa fa-tachometer fa-fw"></i></a></span>
			{% endif %}
			<span data-tooltip class="has-tip" title="My Profile"><a href="/user/{{g.user.id}}"> <i class="fa fa fa-user fa-fw"></i></a></span>

			<span data-tooltip class="has-tip" title="Sign out"><a href="{{url_for('logout')}}"> <i class="fa fa fa-sign-out fa-fw"></i></a></span>
					</h1>
<div class="panel">

<div class="row">
<div class="small-5 columns">

<ul class="no-bullet">
<li><ul class="inline-list"><li>Name:</li><li>{{ user.name }}</li></ul></li>
<li><ul class="inline-list"><li>Email:</li><li>{{ user.email }}</li></ul></li>

</ul>

</div>
</div>
</div>


<div class="row">
<div class="small-12 columns">
	<fieldset>
	
	<legend>Applications</legend>
	  <div class="row">
	<div class="small-1 columns">
	<h6 class="subheader">ID</h6>
	<br>
	</div>
	<div class="small-3 columns">
	<h6 class="subheader">Timestamp</h6><br>
	</div>
	<div class="small-6 columns">
	<h6 class="subheader">Items</h6><br>
	</div>
	<div class="small-2 columns">
	<h6 class="subheader">Actions</h6><br>
	</div>
	</div>

	 
	    {% for application in user.application %}
	        <div class="row">
	        <div class="small-1 columns"><a href="/application/{{application.id}}" ><p>{{application.id}}</p></a></div>
	        <div class="small-3 columns">
	            <p>{{application.displayTimestamp()}}</p>
	        </div>
	        <div class="small-6 columns">
	        <p class="item-list">
	        {% for i in application.getItems() %}
	            	{{ i.equipment.name }}, 
	            	{% endfor %}
	            	</p>
	        </div>
	        {% if g.user == user %}
	        <div class="small-2 columns">
	        {% if application.isApproved() %}
	        <a href="/application/{{application.id}}/edit" ><i class="fa fa-pencil-square-o fa-fw"></i></a>
	        {% else %}
	        <a href="#" ><i class="fa fa-fw"></i></a>
	        {% endif %}
	        <a href="/application/{{application.id}}/delete" ><i class="fa fa-trash-o fa-fw"></i></a>
	        
	        </div>
	        {% endif %}
	        </div>
	    {% endfor %}

</fieldset>
</div>
</div>

<fieldset>
<legend>Action</legend>

<div class="row">
<div class="small-5 columns">
{% if g.user.isAdmin() %}
	<a href="/user/{{user.id}}/delete" class="small alert button">Delete User</a>
{% endif %}	

{% if g.user==user %}

	<a href="#" data-reveal-id="{{user.id}}_edit"  class="small button">Edit Profile</a>	           
	            <div id="{{user.id}}_edit" class="reveal-modal">
	        <form class="custom" action="/user/{{user.id}}/edit" method="POST" id="itemEditForm">
  <h2>Edit Profile</h2>
			
				<div class="row">
			      <div class="large-4 columns">
			        <label for="name_edit" class="right inline">Name:</label>
			       </div>
			       <div class="large-4 columns">
			        <input name="name_edit" id="name_edit" type="text" value="{{user.name}}">
			        </div>
			        <div class="large-4 columns">
			      
			      <input class="small button" type="submit" value="Edit"/></div>
			      </div>	      
			    </div>
			</form>
		</div>

{% endif %}

</div>
</div>

</fieldset>

{% endblock %}


